---
  const date = new Date();
  const Year = date.getFullYear();
---

<footer class="footer footer-center p-4 bg-base-300 text-base-content text-center bg-gray-600 text-white rounded-lg mt-10">
  <aside> 
    <p>Copyright © {Year} - All right reserved by ACME Industries Ltd</p>
  </aside>
</footer>